.blog-item {
  width: 100%;
  max-width: 640px;
  padding: 20px;
  margin: 100px auto;
  background-color: rgba($white,.4);
  position: relative;

  @include transition(all .3s ease-in-out);

  &:hover {
    background-color: rgba($purp, .4);

    a {
      color: $black;
    }

    .post-meta-box {
      background-color: rgba($white,.4);
      // top: 35px;
    }
  }
}

.post-meta-box {
  position: absolute;
  left: -70px;
  width: 80px;
  height: 80px;
  top: -35px;
  padding: 5px;
  text-align: center;
  background-color: rgba($purp, .4);
  @include transition(all .3s ease-in-out);

  span {
    display: block;
  }

  .day {
    font-weight: 700;
    font-size: 40px;
    line-height: .79;
  }
}