/* =Structure/Scaffolding
-------------------------------------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #000;
  height: 100%;
  min-height: 100vh;
  word-break: break-word;
  font-family: $copy-font;
  margin: 0;
  background-color: rgb(161,254,193); /*top colour*/
  background-image: -webkit-linear-gradient(top, rgb(161,254,193), rgb(235,200,240));
  background-image:    -moz-linear-gradient(top, rgb(161,254,193), rgb(235,200,240));
  background-image:      -o-linear-gradient(top, rgb(161,254,193), rgb(235,200,240));
  background-image:         linear-gradient(to bottom, rgb(161,254,193), rgb(235,200,240));
  background-attachment: fixed;
  line-height: 1;
}

figure{
  margin: 0;
}

img {
  width: auto;
  height: auto;
}

.wrap {
  max-width: 1240px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  @include media($mobile){
    padding-left: 10px;
    padding-right: 10px;
  }

  &.wrap--full{
    padding-left: 0px;
    padding-right: 0px;
  }
}